* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Handlee", cursive;
  line-height: 1.4;
}

body:before {
  content: "";
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1548222606-6c4f581fd09d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1197&q=80");
}

.container {
  width: 90%;
  max-width: 900px;
  padding: 0;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin: 1em auto;
  color: #ffffff;
  font-size: 18px;
}

.description {
  margin: 0 auto;
  padding: 10px;
}

form {
  width: 90%;
  max-width: 700px;
  padding: 5%;
  background-color: rgba(27, 27, 50, 0.8);
  color: white;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 20px;
}

.form-control {
  width: 100%;
}
label {
  display: block;
  margin: 1rem 0;
}

input,
select {
  margin: 0;
  line-height: inherit;
  padding: 10px;
}

input,
textarea {
  color: #ffffff;
}

textarea {
  width: 100%;
}

button {
  width: 20%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #1b6b93;
  border-color: #1b6b93;
  border-radius: 20px;
  display: block;
}

/* Media Queries for Smartphones */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    min-width: auto;
    padding: 0;
  }

  .description {
    padding: 20px;
  }

  form {
    width: 100%;
    max-width: none;
    min-width: auto;
    padding: 20px;
  }

  button {
    width: 50%;
    min-width: auto;
  }
}

/* Media Queries for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 100%;
    min-width: auto;
    padding: 0 40px;
  }

  form {
    width: 100%;
    max-width: none;
    min-width: auto;
    padding: 40px;
  }

  button {
    width: 50%;
    min-width: auto;
  }
}
